.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(245, 245, 245, 0.7);
    color: var (--Color);
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: rgba(105,105,105, 0.7);
  }
  
  .back-button:focus {
    outline: none;
  }