html {
    background-image: var(--backgroundImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: 'fixed';
    min-height: '100vh';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'flex-start';
    margin: 0;
    color: whitesmoke;
}