html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    /* Apply the custom styles for the scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
        /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background-color: black;
        /* Track color */
        border-radius: 10px;
        /* Round corners for the track */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(245, 245, 245, 0.7);
        /* Thumb color */
        border-radius: 10px;
        /* Round corners for the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(105,105,105, 0.5);
        /* Thumb hover effect */
    }
}

.section_1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Optional: Customize the scrollbar in specific elements like Paper */
.MuiPaper-root::-webkit-scrollbar {
    width: 12px;
    /* Adjust width for Paper */
}

.MuiPaper-root::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    /* Track color specific to Paper */
}

.MuiPaper-root::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Thumb color specific to Paper */
}

.MuiPaper-root::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    /* Hover effect specific to Paper */
}